/*
 *  Designed by Amber Feng
 */

* {
	font-family: Georgia,Times,serif;
}

html{
	margin: auto;
}

body {
	margin: auto;
        background-color: #eee;
}

a{
	text-decoration: none;
	color: blue;
}

a:hover{
	text-decoration:underline;
}

div#left {
	float: left;
	padding: 1em;
	border-right: 1px solid #666;
	height: 400px;
}

div#left ul {
        margin-right: 10px;
}

div#left li{
	 list-style: none;
}

div#left li a{
	 text-decoration: none;
	 padding: 5px;
         margin: 5px;
	 line-height: 2em;
	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 background: #ccc;
	 color: #333;
         width: 100%;
         display: block;
         text-align: center;
}

div#left li a:hover{
	 background: BLUE;
	 color: white;
}
div#right {
	padding: 1em;
	float: left;
}

div#right img{
	padding: 4px;
	background: white;
	border: 1px solid #ccc;
}

div#main{
	padding-top: 1em;
}
div#top {
	color: white;
	text-shadow: #67809C 0px -2px 0px;
	background: blue;
	border-bottom: 5px solid white;
	padding: 1em;
}
div#top h1 {
	float: right;
}
div#top img {
	float: left;
}
div.clear{
	clear:both;
}
